[submodule "hwaccel-jpeg-decoder/rtl"]
	path = hwaccel-jpeg-decoder/rtl
	url = https://github.com/simbricks/jpeg_decoder.git
[submodule "tvm-vta/vta_src"]
	path = tvm-vta/vta_src
	url = https://github.com/simbricks/tvm-vta-simbricks.git
