*.o
__pycache__
ms*/out/
ms*/test*.out
obj_dir

ms1/app/matrixmultiply
ms1/app/matrixmultiply_block
ms1/app/matrixmultiply_block_t

ms2/app/matmul-accel
ms2/accel-sim/sim

ms3/app/matmul-accel
ms3/accel-sim/sim

ms5/app/matmul-accel
ms5/hw_comb/sim
ms5/hw_vec/sim
ms5/hwresults/runs
